.collage {
  display: grid;
  grid-template-columns: (8, 1fr);
  grid-auto-rows: minmax(100, auto);
}

.credential-carousel {
  border: 1px solid black;
  width: 200px;
  height: 200px;
  overflow: hidden;
}
.slider {
  height: 200px;
  width: 400px;
  display: flex;
  flex-direction: row;
  border: 1px solid black;
  /* transform: translateX(300px); */
  transition: 1s ease;
}

.slide {
  height: 200px;
  width: 200px;
  border: 1px solid black;
}

img {
  width: 200px;
  height: 200px;
  object-fit: contain;
}
h1 {
  color: black;
}
/* img { */
/* width: 250px; */
/* } */
.a {
  background-color: white;
}

.a:hover {
  background-color: #00ab44;
}
/*Create pseudo class to make class for each nav link, this allows them to change color upon hover*/
.Home {
  background-color: white;
}
.Home:hover {
  background-color: #00ab44;
}

.ContactMe {
  background-color: white;
}
.ContactMe:hover {
  background-color: #00ab44;
}

.Projects {
  background-color: white;
}
.Projects:hover {
  background-color: #00ab44;
}
/*Create class to apply keyframe attributes*/
.jamon {
  width: 450px;
  height: 600px;
  border: 3px solid black;
  object-fit: fill;
  animation: changeImage 5s;
  animation-iteration-count: infinite;
}
/*Create navbar keyframe for sliding*/
.navbar {
  animation: slideIn 2s;
}
/*call email class and apply change color keyframe*/
.email {
  animation: changeColors 0.5s;
  animation-iteration-count: infinite;
}

@keyframes changeColors {
  0% {
    background-color: white;
  }

  100% {
    background-color: blue;
  }
}

@keyframes slideIn {
  from {
    transform: translateX(-100%);
  }

  to {
    transform: translateX(0%);
  }
}
/*Create keyframe to change profile photos*/
@keyframes changeImage {
  from {
    background-image: url("./images/JAMONHAMILTONJR.jpeg");
    background-repeat: no-repeat;
    background-size: contain;
  }

  to {
    background-image: url("./images/JAMONHAMILTONJR2.jpeg");
    background-repeat: no-repeat;
    background-size: contain;
  }

  to {
    background-image: url("./images/JAMONHAMILTONJR.jpeg");
    background-repeat: no-repeat;
    background-size: contain;
  }
}

@media screen and (min-width: 412px) and (max-width: 800px) {
  .navbar {
    flex-direction: column;
    align-items: center;
    position: absolute;
    height: 2000px;
    width: 100px;
  }
}
