img {
  width: 250px;
}
.a {
  background-color: white;
}

.a:hover {
  background-color: #00ab44;
}
/*Create pseudo class to make class for each nav link, this allows them to change color upon hover*/
.Home {
  background-color: white;
}
.Home:hover {
  background-color: #00ab44;
}

.ContactMe {
  background-color: white;
}
.ContactMe:hover {
  background-color: #00ab44;
}

.Projects {
  background-color: white;
}
.Projects:hover {
  background-color: #00ab44;
}

.jamon {
  width: 250px;
  height: 300px;
  border: 1px solid black;
  object-fit: cover;
  object-position: 15% 100%;
  animation: changeImage 3s;
  animation-iteration-count: infinite;
}

@keyframes changeImage {
  from {
    background-image: url("images/JAMONHAMILTONJR.jpeg");
  }

  to {
    background-image: url("images/JAMONHAMILTONJR2.jpeg");
  }
}
